<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
  <add name="VirtualMindEntities" connectionString="metadata=res://*/VirtualMindModel.csdl|res://*/VirtualMindModel.ssdl|res://*/VirtualMindModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=G100603NT0291\SQLEXPRESS;initial catalog=VirtualMind;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>
