<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
  <add name="CDsEntities" connectionString="metadata=res://*/AuditoriaSUAContext.csdl|res://*/AuditoriaSUAContext.ssdl|res://*/AuditoriaSUAContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=d095srtec06;initial catalog=CDs;user id=_usrwebsua;password=cencosud2019;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>