<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <appender name="Console" type="log4net.Appender.ConsoleAppender">
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %-5level %logger - %message%newline" />
    </layout>
  </appender>

  <!-- For basic information about this appender configuration read the document: 'Guia del Desarrollador FraudTools.docx', section 5.1.2 -->
  <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
    <file value="Logs\" />
    <datePattern value="'AUDITORIA_API.'yyyy_MM_dd'.log'" />
    <staticLogFileName value="false" />
    <appendToFile value="true" />
    <maximumFileSize value="2048KB" />
    <maxSizeRollBackups value="2" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date|%identity|%-5level|%logger|%message%newline" />
    </layout>
  </appender>
  
  <appender name="RollingFileError" type="log4net.Appender.RollingFileAppender">
    <file value="Logs\" />
    <datePattern value="'AUDITORIA_API.'yyyy_MM_dd'.ERRORS.log'" />
    <staticLogFileName value="false" />
    <appendToFile value="true" />
    <maximumFileSize value="2048KB" />
    <maxSizeRollBackups value="5" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date|%identity|%-5level|%logger|%message%newline" />
    </layout>
    <filter type="log4net.Filter.LevelRangeFilter">
      <levelMin value="ERROR"/>
      <levelMax value="FATAL"/>
    </filter>
  </appender>
  
  <appender name="EventLog" type="log4net.Appender.EventLogAppender" >
    <applicationName value="Cencosud.AUDITORIA_API" />    
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%-5level %logger [%property{NDC}] - %message%newline" />
    </layout>
    <filter type="log4net.Filter.LevelRangeFilter">
      <levelMin value="DEBUG"/>
      <levelMax value="FATAL"/>
    </filter>    
  </appender>
  
  <root>
    <level value="DEBUG" />
    <appender-ref ref="Console" />
    <appender-ref ref="RollingFile" />
    <appender-ref ref="RollingFileError" />
    <appender-ref ref="EventLog" />
  </root>
</log4net>

