<div>
	<div class="row">
		<div class="col-sm-2 col-12 padding-10">
			<i class="fa fa-truck"></i> <span> Auditoria</span>
		</div>
	</div>

	<app-filtro-consulta (filtroConsulta)="obtenerFiltros($event)">
	</app-filtro-consulta>
	<div class="widget-header bordered-bottom bordered-blue">
		<span class="widget-caption col-md-4">
			<i class="widget-icon fa fa-list"></i>
			{{ title }}
		</span>
		<a class="widget-caption col-md-4" (click)="Descargar()">
			<i class="widget-icon fa fa-download"></i>
			Descargar
		</a>
	</div>
	<div>
		<div *ngIf="contenedores">
			<app-contenedores [contenedores] = "contenedores"></app-contenedores>
		</div>
		<div *ngIf="limpieza">
			<app-limpieza [limpieza] = "limpieza"></app-limpieza>
		</div>
		<div *ngIf="posiciones">
			<app-posiciones [posiciones] = "posiciones"></app-posiciones>
		</div>
	</div>
</div>
