.rojo {
  background: #FFAFA3;
}
.rojo:hover{
  background-color: rgba(235, 31, 27, 0.801)
}

.verde {
  background: #A3EB93;
}
.verde:hover{
  background-color: rgba(68, 255, 35, 0.842)
}

.amarillo {
  background: #FFFDA2;
}
.amarillo:hover{
  background-color: rgba(255, 245, 56, 0.836);
}
