<div class="widget" id="filtros">
	<div class="widget-header bordered-bottom bordered-blue">
		<span class="widget-caption">
			<i class="widget-icon fa fa-filter"></i> Filtros
		</span>

		<div class="widget-buttons">
			<a data-toggle="collapse" href="#widegetFiltro" role="button" aria-expanded="false"
				aria-controls="widegetFiltro">
				<i class="widget-icon fa fa-chevron-up"></i>
			</a>
		</div>
	</div>
	<div id="widegetFiltro" class="widget-body collapse show padding-10">
		<form [formGroup]="filtroForm" class="padding-10 margin-5 form-group" (ngSubmit)="onSubmit()">
			<div class="row">
				<div class="col-md-3 col-12">
					<label class="label blue padding-10">Reporte</label>
					<select class="margin-5 width-200" name="reporte" formControlName="reporteForm" (change)="reporteChange($event.target.value)">
						<option value="">-- Seleccione --</option>
						<option value=" {{ auditoria.id }}" *ngFor="let auditoria of auditorias">
							{{ auditoria.auditoria }}
						</option>
					</select>
				</div>
				<div class="col-md-4 col-12">
					<label class="label blue padding-10">Incidencia</label>
					<select id="incidencia" class="width-150" name="Incidencia" formControlName="incidenciaForm">
						<option value="-1"> Todas </option>
						<option value="{{ incidencia.id }}" *ngFor="let incidencia of incidencias">
							{{ incidencia.incidencia }}
						</option>
					</select>
				</div>
				<div class="col-md-3 col-12">
					<label class="label blue padding-10">Fecha</label>
					<input type="text" name="daterangeCInput" class="text center" daterangepicker [options]="options"
						(selected)="selectedDate($event, 'C')" [value]="filtro.fecha" />
						<i class="fa fa-times" (click)="selectedDate(null, 'C')"></i>
				</div>
				<div class="col-md-1 col-12">
					<button type="submit" class="btn btn-outline-primary btn-sm">
						<i class="fa fa-search"></i> Consultar
					</button>
				</div>
				<div class="col-md-3 col-12" *ngIf="idSelected == 1">
					<label class="label blue padding-10">Sector</label>
					<select class="width-200" name="sector" formControlName="sectorForm">
						<option value="-1"> Todos </option>
						<option value="{{ sector.id }}" *ngFor="let sector of sectores">
							{{ sector.descripcion }}
						</option>
					</select>
				</div>
				<div class="col-md-2 col-12">
					<label for="idLegajo" class="label blue padding-10">Legajo</label>
					<input id="idLegajo" class="w-50" formControlName="legajoForm" type="text" />
				</div>
			</div>
		</form>
	</div>
</div>