.col-centered {
  float: right;
  margin: 0 auto;
}

.botonImg {
  padding-left: 15px;
}

.disabled {
  cursor: not-allowed !important;
  pointer-events: none;
}

.align-right {
  text-align: right;
}

.clase1 {
  text-align: right;
}

.clase2 {
  text-align: left;
}
.jumping {
  -webkit-font-smoothing: antialiased;
}

.jumping:hover {
  animation: wobbleud 0.5s linear infinite;
}

.face:hover {
  animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {

  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
