/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@charset 'UTF-8';
@import url("./assets/css/collapse.css");
@import url("./assets/css/table.css");
@import url("./assets/css/buttons.css");
@import url("./assets/css/inputs.css");
@import url("./assets/css/colors.css");

html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a,
button,
.link {
  cursor: pointer;
}

.navbar {
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

.center {
  text-align: center !important;
}

.pointer {
  cursor: pointer !important;
}

.navbar-inverse {
  background-color: #0061a8 !important;
}

.nav-elevation {
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2),
    0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
}

.white-background {
  background-color: white !important;
}

.margin-top-100 {
  margin-top: 100px !important;
}

.padding-left-36 {
  padding-left: 36px !important;
}

.lead {
  font-size: 32px;
  color: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.ngx-datepicker-input {
  width: 100% !important;
}

.legend {
  margin-top: -20px !important;
  font-size: 14px;
}

.form-group {
  margin-bottom: 5px !important;
}

.invalid-feedback {
  color: #ff0000;
  font-size: 10px;
}

/* .ng-busy-default-sign {
    margin-top: 110px;
} */

.input-sm {
  font-size: 13px;
  width: 120px !important;
  height: 29px !important;
  padding: 7px;
}
.small {
  width: 70px !important;
  padding-left: 15px !important;
}

.input-smx {
  font-size: 13px;
  height: 29px !important;
  width: 180px !important;
  padding: 7px;
}

.input-xs {
  font-size: 11px;
  height: 24px !important;
  padding: 4px;
}

.btn-group-xs > .btn,
.btn-xs {
  padding: 2px 6px;
  font-size: 13px;
  border-radius: 0.2rem;
}

.btn-purple {
  background-color: #7d3593;
  border-color: #7d3593;
  color: #fff;
}

.btn-purple:hover {
  background-color: #703084;
  border-color: #642b76;
  color: #fff;
}

.text {
  font-size: 12px;
  font-weight: bold !important;
}

.hide {
  display: none !important;
}

.label {
  font-size: 11px;
  font-weight: bold;
}

.carousel-inner .carousel-item img {
  width: 100%;
  height: 340px;
}

/* @media(max-width: 770px) {
    .carousel-inner .carousel-item img {
        height: 250px !important;
    }
    #main {
        margin-top: 120px !important;
    }
} */

h1.row-title,
h2.row-title,
h3.row-title,
h4.row-title,
h5.row-title,
h6.row-title {
  line-height: 17px;
  margin: 10px 0;
  padding: 9px 10px 9px 8px;
  display: inline-block;
  color: #646464;
  font-weight: 400;
  background-color: #fff;
  position: relative;
  -webkit-border-radius: 0 2px 2px 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0 2px 2px 0;
  -moz-background-clip: padding;
  border-radius: 0 2px 2px 0;
  background-clip: padding-box;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

h1.row-title:before,
h2.row-title:before,
h3.row-title:before,
h4.row-title:before,
h5.row-title:before,
h6.row-title:before {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: -4px;
  width: 4px;
  max-width: 4px;
  overflow: hidden;
  background-color: #2dc3e8;
}

.before-pink:before {
  background-color: #e75b8d !important;
}

.before-blue:before {
  background-color: #0061a8 !important;
}

.bottom {
  vertical-align: bottom;
}

/*Pulse*/
.circle {
  width: 42px;
  height: 42px;
  overflow: hidden;
  left: 15px;
  display: inline-block;
  vertical-align: middle;
  border-radius: 50%;
}

.option {
  cursor: pointer;
}

.pulse-circle {
  position: relative;
  width: 22px;
  height: 22px;
  border: none;
  box-shadow: 0 0 0 0 rgba(232, 76, 61, 0.7);
  border-radius: 50%;
  background-color: #e84c3d;
  cursor: pointer;
  -webkit-animation: pulse-circle 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -moz-animation: pulse-circle 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -ms-animation: pulse-circle 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  animation: pulse-circle 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
}

.pulse-circle:hover {
  -webkit-animation: none;
  -moz-animation: none;
  -ms-animation: none;
  animation: none;
}

.pulse-xs {
  padding: 10px !important;
}

.pulse-sm {
  padding: 15px !important;
}

.margin-top-80 {
  margin-top: 60px;
}

.pulse-lg {
  padding: 22px !important;
}

@-webkit-keyframes pulse-circle {
  to {
    box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);
  }
}

@-moz-keyframes pulse-circle {
  to {
    box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);
  }
}

@-ms-keyframes pulse-circle {
  to {
    box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);
  }
}

@keyframes pulse-circle {
  to {
    box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);
  }
}

/* Add Animation */
@-webkit-keyframes slideIn {
  from {
    bottom: -300px;
    opacity: 0;
  }

  to {
    bottom: 0;
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    bottom: -300px;
    opacity: 0;
  }

  to {
    bottom: 0;
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/*End Pulse*/

/*Modal*/
.padding-top {
  padding-top: 20px;
}

.margin-right-10 {
  margin-right: 10px;
}

.modal-footer {
  background-color: #eff3f8;
}

.modal-header {
  color: #fff;
  background: #0d47a1;
}

.border-left {
  border-left-style: double;
  border-left-width: 10px;
  border-left-color: #01579b;
}

.vertical-text {
  transform: rotate(90deg);
  transform-origin: left top 0;
  white-space: nowrap;
}

.modal-header > .close {
  color: #fff;
  text-shadow: 0 1px 0 #000;
}

.modal-darkorange .modal-header {
  border-bottom: 3px solid #0061a8;
}

.modal-blue .modal-header {
  border-bottom: 3px solid #0061a8;
}

.modal-message .modal-body,
.modal-message .modal-footer,
.modal-message .modal-header,
.modal-message .modal-title {
  background: #fff !important;
  border: none;
  margin: 0;
  padding: 0 20px;
  text-align: center !important;
}

.modal-message .modal-header {
  color: #fff;
  margin-bottom: 10px;
  padding: 15px 0 8px;
}

.modal-message .modal-header .fa,
.modal-message .modal-header .glyphicon,
.modal-message .modal-header .typcn,
.modal-message .modal-header .wi {
  font-size: 30px;
}

.modal-message .modal-title {
  font-size: 17px;
  color: #737373;
  margin-bottom: 3px;
  font-weight: bold;
}

.modal-message .modal-body {
  color: #737373;
}

.modal-message .modal-footer {
  margin: 25px 0 20px;
  padding-bottom: 10px;
  display: inline-block;
}

.modal-message.modal-info .modal-header {
  color: #57b5e3;
  border-bottom: 3px solid #57b5e3;
  display: inline-block;
}

.modal-message.modal-danger .modal-header {
  color: #0061a8;
  border-bottom: 3px solid #e46f61;
  display: inline-block;
}

.modal-message.modal-warning .modal-header {
  color: #f4b400;
  border-bottom: 3px solid #ffce55;
  display: inline-block;
}

.modal-message.modal-success .modal-header {
  color: #53a93f;
  border-bottom: 3px solid #cddc29;
  display: inline-block;
}

/*End Modal*/

/*.pull-right {
    float: right !important;
}*/

.form-title {
  display: block;
  padding: 8px 0;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
  font-size: 15px;
  font-weight: 300;
  color: #262626;
  margin-bottom: 15px;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  /*height: auto;*/
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.middle p {
  color: #3c55ea;
  font-weight: bold;
}

.img-container:hover .image {
  opacity: 0.3;
}

.img-container:hover .middle {
  opacity: 1;
}

.text-image {
  color: red;
  font-size: 25px;
  padding: 16px 32px;
}

.z-depth-2 {
  -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14),
    0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12),
    0 2px 4px -1px rgba(0, 0, 0, 0.3);
}

.z-depth-3 {
  -webkit-box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
}

.z-depth-4 {
  -webkit-box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14),
    0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -7px rgba(0, 0, 0, 0.2);
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14),
    0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -7px rgba(0, 0, 0, 0.2);
}

.z-depth-5 {
  -webkit-box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14),
    0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
  box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14),
    0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
}

.col-content {
  margin-bottom: 20px !important;
}

.ngx-datepicker-calendar-container {
  z-index: 999999;
}

/*Tabs*/
.tab-content {
  background-color: #fbfbfb !important;
  padding: 16px 12px;
  position: relative;
  -webkit-box-shadow: 1px 0 10px 1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 1px 0 10px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 0 10px 1px rgba(0, 0, 0, 0.3);
}

.nav-tabs {
  margin-bottom: 0;
  margin-left: 0;
  border: 0;
  top: 2px;
  background-color: #eee;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}

.nav-tabs > li {
  margin-bottom: -2px;
}

.nav-tabs > li > a:hover {
  color: #262626;
  background-color: transparent;
  border-color: transparent;
}

.nav-tabs > li > a:active,
.nav-tabs > li > a:focus {
  outline: none !important;
}

.nav-tabs > li > a,
.nav-tabs > li > a:focus {
  border-radius: 0 !important;
  color: #777;
  margin-right: -1px;
  line-height: 12px;
  position: relative;
  z-index: 11;
}

.nav-tabs > li > a > .badge {
  padding: 0 4px;
  line-height: 15px;
  opacity: 0.75;
  height: 16px;
  min-width: 16px;
}

.nav-tabs > li > a .fa,
.nav-tabs > li > a .glyphicon,
.nav-tabs > li > a .typcn,
.nav-tabs > li > a .wi {
  opacity: 0.75;
}

.nav-tabs > li:first-child > a {
  margin-left: 0;
  border-left: 1px solid #fbfbfb !important;
}

.nav-tabs > li > a.nav-link.active,
.nav-tabs > li > a.nav-link.active:hover,
.nav-tabs > li > a.nav-link.active:focus {
  color: #262626 !important;
  border-top: 2px solid #0061a8 !important;
  border-bottom-color: transparent !important;
  background-color: #fbfbfb;
  z-index: 12;
  line-height: 16px;
  margin-top: -2px;
  box-shadow: 0 -2px 3px 0 rgba(0, 0, 0, 0.15);
}

.nav-tabs > li > a.nav-link.active > .fa,
.nav-tabs > li > a.nav-link.active .glyphicon,
.nav-tabs > li > a.nav-link.active .typcn,
.nav-tabs > li > a.nav-link.active .wi {
  color: #0061a8;
}

.nav-tabs > li.tab-red > a.nav-link.active {
  border-color: #df5138 !important;
}

.nav-tabs > li.tab-red > a.nav-link.active > .fa,
.nav-tabs > li.tab-red > a.nav-link.active .glyphicon,
.nav-tabs > li.tab-red > a.nav-link.active .typcn,
.nav-tabs > li.tab-red > a.nav-link.active .wi {
  color: #df5138;
}

/*End Tabs*/
.input {
  width: 150px;
}

.invalid-feedback {
  display: none !important;
}

.font-lower {
  font-size: 10px;
  padding: 0.25rem !important;
}

.input-table {
  height: 17px !important;
  max-width: 40px !important;
}

.checkbox-table-center {
  margin: 0;
  padding: 6px;
}

.popover {
  box-shadow: 2px 2px 50px #eee;
}

.popover-title {
  background-color: #fff !important;
  border-bottom: 3px solid #5db2ff !important;
  text-align: center;
}

.calendar-table table thead {
  font-size: 11px !important;
}

.calendar-table table tbody tr td {
  font-size: 14px !important;
  padding: 5px !important;
}

.calendar-table table tbody tr td.active {
  border-radius: 50% !important;
  font-size: 13px !important;
  padding: 5px !important;
}

.calendar-table table tbody tr td:hover {
  border-radius: 50% !important;
  padding: 5px !important;
  background-color: #eee;
}

.daterangepicker_input input.form-control {
  font-size: 14px !important;
}

.daterangepicker_input i {
  font-size: 13px !important;
  color: #0665ab !important;
}

.display-inline-flex {
  display: inline-flex;
}

.display-inline-block {
  display: inline-block !important;
}

.display-flex {
  display: flex !important;
}

.min-height-content {
  min-height: 250px !important;
}

.move-up,
.move-down,
.move-rotate {
  transition: transform 500ms cubic-bezier(0, 0.47, 0.32, 1.97) !important;
}

.move-down:hover {
  transform: translate(0px, 30px) !important;
}

.move-up:hover {
  transform: translate(0px, -30px) !important;
}

.move-rotate:hover {
  transform: translate(5px, 20px) rotate(10deg) !important;
}

#daterangepicker_start .active {
  background-color: white;
}

/* .infobox > p {
    margin-bottom: 0 !important;
} */

.infobox:hover {
  transform: translate(0px, -7px) !important;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
  transition: all 0.5s ease-in;
  cursor: pointer;
}

.no-border {
  border: none !important;
}

.tooltip-inner {
  background-color: #5db2ff !important;
}

.bs-tooltip-auto[x-placement^="bottom"] .arrow::before,
.bs-tooltip-bottom .arrow::before {
  border-bottom-color: #5db2ff !important;
}

.modal-500 .modal-header {
  background-color: #0061a8 !important;
}

.modal-401 .modal-header {
  background-color: #212121 !important;
}

.modal-404 .modal-header {
  background-color: #ffd600 !important;
}

.row-content {
  min-height: 240px !important;
}

.loader {
  display: flex;
  justify-content: center;
  height: 200px;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.ball-pulse-sync > div {
  background-color: #01579b !important;
}

.card .card-header {
  height: 40px;
  padding: 8px 15px;
  background-color: #ffffff;
  box-shadow: 2px 2px 40px #eee;
  border-bottom: none;
}

.card .widget-buttons a {
  color: #000;
  padding: 3px;
}

.card .widget-buttons {
  float: right;
}

.active {
  background-color: #98ebcb !important;
}

/*Modal*/
.padding-top {
  padding-top: 20px;
}
.in-range {
  color: black !important;
}

.margin-right-10 {
  margin-right: 10px;
}
.modal-footer {
  background-color: #eff3f8;
}

.modal-header {
  color: #fff;
  background: #0d47a1;
}

.border-left {
  border-left-style: double;
  border-left-width: 10px;
  border-left-color: #01579b;
}

.vertical-text {
  transform: rotate(90deg);
  transform-origin: left top 0;
  white-space: nowrap;
}

.modal-header > .close {
  color: #fff;
  text-shadow: 0 1px 0 #000;
}

.modal-darkorange .modal-header {
  border-bottom: 3px solid #ed4e2a;
}

.modal-blue .modal-header {
  border-bottom: 3px solid #0061a8;
}

.modal-message .modal-body,
.modal-message .modal-footer,
.modal-message .modal-header,
.modal-message .modal-title {
  background: #fff !important;
  border: none;
  margin: 0;
  padding: 0 20px;
  text-align: center !important;
}

.modal-dialog {
  max-width: 80% !important;
}

.modal-message .modal-header {
  color: #fff;
  margin-bottom: 10px;
  padding: 15px 0 8px;
}

.modal-message .modal-header .fa,
.modal-message .modal-header .glyphicon,
.modal-message .modal-header .typcn,
.modal-message .modal-header .wi {
  font-size: 30px;
}

.modal-message .modal-title {
  font-size: 17px;
  color: #737373;
  margin-bottom: 3px;
  font-weight: bold;
}

.modal-message .modal-body {
  color: #737373;
}

.modal-message .modal-footer {
  margin: 25px 0 20px;
  padding-bottom: 10px;
  display: inline-block;
}

.modal-message.modal-info .modal-header {
  color: #57b5e3;
  border-bottom: 3px solid #57b5e3;
  display: inline-block;
}

.modal-message.modal-danger .modal-header {
  color: #d73d32;
  border-bottom: 3px solid #e46f61;
  display: inline-block;
}

.modal-message.modal-warning .modal-header {
  color: #f4b400;
  border-bottom: 3px solid #ffce55;
  display: inline-block;
}

.modal-message.modal-success .modal-header {
  color: #53a93f;
  border-bottom: 3px solid #cddc29;
  display: inline-block;
}

/*End Modal*/

/*Widget*/
.widget {
  padding: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  margin: 0 0 30px 0;
}

.widget.collapsed .widget-body {
  display: none;
}

.widget.collapsed.radius-bordered .widget-header {
  -webkit-border-radius: 3px 3px 3px 3px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 3px 3px 3px 3px;
  -moz-background-clip: padding;
  border-radius: 3px 3px 3px 3px;
  background-clip: padding-box;
}

.widget.maximized {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  margin: 0;
  overflow: auto;
}

.widget.maximized .widget-body {
  padding: 12px 0;
}

.widget.bordered-top {
  border-top: 3px solid #ffffff;
}

.widget.bordered-bottom {
  border-bottom: 3px solid #ffffff;
}

.widget.bordered-left {
  border-left: 3px solid #ffffff;
}

.widget.bordered-right {
  border-right: 3px solid #ffffff;
}

.widget-header {
  position: relative;
  min-height: 35px;
  background: #ffffff;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  color: #555555;
  padding-left: 12px;
  text-align: right;
}

.widget-header .widget-icon {
  display: block;
  width: 30px;
  height: 32px;
  position: relative;
  float: left;
  font-size: 111%;
  line-height: 36px;
  text-align: center;
  margin-left: -10px;
  margin-right: -5px;
}

.widget-header > .widget-caption {
  line-height: 34px;
  padding: 0;
  margin: 0;
  float: left;
  text-align: left;
  font-weight: 400 !important;
  font-size: 13px;
}

.widget-header[class*="bg-"] {
  border: 0;
}

.widget-header[class*="bg-"] .widget-caption,
.widget-header[class*="bg-"] i {
  color: #ffffff;
}

.widget-header.bordered-left {
  border-left: 3px solid #ffffff;
}

.widget-header.bordered-right {
  border-right: 3px solid #ffffff;
}

.widget-header.bordered-top {
  border-top: 3px solid #ffffff;
}

.widget-header.bordered-bottom {
  border-bottom: 3px solid #ffffff;
}

.widget-buttons {
  display: inline-block;
  padding: 0 5px;
  line-height: 34px;
  position: relative;
  text-align: left;
  height: 36px;
}

.widget-buttons.buttons-bordered {
  border-left: 1px solid #e5e5e5;
}

.widget-buttons label {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 0;
  line-height: 6px;
}

.widget-buttons > a {
  font-size: 14px;
  margin: 0 1px;
  display: inline-block;
  padding: 0;
  line-height: 18px;
  min-width: 20px;
  text-align: center;
  bottom: 0.6rem;
  right: 0.4rem;
}

.widget-buttons > a:hover {
  text-decoration: none;
}

.widget-buttons > a i {
  vertical-align: middle;
}

.widget-buttons > [data-toggle] > .fa {
  margin-right: 0;
}

.widget-buttons > [data-toggle]:hover {
  zoom: 1;
  filter: alpha(opacity=50);
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
}

.widget-buttons > [data-toggle]:focus {
  text-decoration: none;
}

.widget-buttons > [data-toggle="dispose"] {
  color: #777777;
  font-size: 14px;
}

.widget-buttons > [data-toggle="maximize"] {
  color: #777777;
  font-size: 14px;
}

.widget-buttons > [data-toggle="collapse"] {
  color: #777777;
  font-size: 14px;
}

.widget-buttons > [data-toggle="refresh"] {
  color: #777777;
  font-size: 14px;
}

.widget-buttons > [data-toggle="config"] {
  color: #777777;
  font-size: 14px;
}

.widget-buttons .progress {
  vertical-align: middle;
  display: inline-block;
  margin: 0;
  min-width: 100px;
  margin-top: -3px;
}

.widget-buttons .btn-group {
  margin-top: -2px;
}

.widget-buttons .btn-group .dropdown-menu {
  right: 0;
  left: auto;
}

.widget-buttons .badge {
  margin-top: -2px;
}

.widget-buttons .label {
  padding: 5px 6px 5px 6px;
}

.widget-buttons .pagination,
.widget-buttons .pager {
  float: right;
  margin: 5px 2px 1px;
}

.widget-buttons .btn {
  margin-top: -2px;
}

.widget-body {
  background-color: #fff;
  -webkit-box-shadow: 1px 0 10px 1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 1px 0 10px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 0 10px 1px rgba(0, 0, 0, 0.3);
  /* padding: 12px; */
}

.widget-body.bordered-left {
  border-left: 3px solid #ffffff;
}

.widget-body.bordered-right {
  border-right: 3px solid #ffffff;
}

.widget-body.bordered-bottom {
  border-bottom: 3px solid #ffffff;
}

.widget-body.bordered-top {
  border-top: 3px solid #ffffff;
}

.widget-body[class*="bg-"] {
  color: #ffffff;
}

/*End Widget*/
/*DataRange Picker*/
.daterangepicker {
  position: absolute;
  color: #111;
  background: #fff;
  border-radius: 4px;
  width: 278px;
  padding: 4px;
  margin-top: 1px;
  top: 100px;
  left: 20px;
  /* Calendars */
}

.daterangepicker:before,
.daterangepicker:after {
  position: absolute;
  display: inline-block;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: "";
}

.daterangepicker:before {
  top: -7px;
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
  border-bottom: 7px solid #ccc;
}

.daterangepicker:after {
  top: -6px;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #fff;
  border-left: 6px solid transparent;
}

.daterangepicker.opensleft:before {
  right: 9px;
}

.daterangepicker.opensleft:after {
  right: 10px;
}

.daterangepicker.openscenter:before {
  left: 0;
  right: 0;
  width: 0;
  margin-left: auto;
  margin-right: auto;
}

.padding-10 {
  padding: 10px 10px 10px 10px;
}
.daterangepicker.openscenter:after {
  left: 0;
  right: 0;
  width: 0;
  margin-left: auto;
  margin-right: auto;
}

.daterangepicker.opensright:before {
  left: 9px;
}

.daterangepicker.opensright:after {
  left: 10px;
}

.daterangepicker.dropup {
  margin-top: -5px;
}

.daterangepicker.dropup:before {
  top: initial;
  bottom: -7px;
  border-bottom: initial;
  border-top: 7px solid #ccc;
}

.daterangepicker.dropup:after {
  top: initial;
  bottom: -6px;
  border-bottom: initial;
  border-top: 6px solid #fff;
}

.daterangepicker.dropdown-menu {
  max-width: none;
  z-index: 3001;
}

.daterangepicker.single .ranges,
.daterangepicker.single .calendar {
  float: none;
}

.daterangepicker.show-calendar .calendar {
  display: block;
}

.daterangepicker .calendar {
  display: none;
  max-width: 270px;
  margin: 4px;
}

.daterangepicker .calendar.single .calendar-table {
  border: none;
}

.daterangepicker .calendar th,
.daterangepicker .calendar td {
  white-space: nowrap;
  text-align: center;
  min-width: 32px;
}

.daterangepicker .calendar-table {
  border: 1px solid #fff;
  padding: 4px;
  border-radius: 4px;
  background: #fff;
}

.daterangepicker table {
  width: 100%;
  margin: 0;
}

.daterangepicker td,
.daterangepicker th {
  text-align: center;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  border: 1px solid transparent;
  white-space: nowrap;
  cursor: pointer;
}

.daterangepicker td.available:hover,
.daterangepicker th.available:hover {
  background-color: #eee;
  border-color: transparent;
  color: inherit;
}

.daterangepicker td.week,
.daterangepicker th.week {
  font-size: 80%;
  color: #ccc;
}

.daterangepicker td.off,
.daterangepicker td.off.in-range,
.daterangepicker td.off.start-date,
.daterangepicker td.off.end-date {
  background-color: #fff;
  border-color: transparent;
  color: #999;
}

.daterangepicker td.in-range {
  background-color: #ebf4f8;
  border-color: transparent;
  color: #000;
  border-radius: 0;
}

.daterangepicker td.start-date {
  border-radius: 4px 0 0 4px;
}

.daterangepicker td.end-date {
  border-radius: 0 4px 4px 0;
}

.daterangepicker td.start-date.end-date {
  border-radius: 4px;
}

.daterangepicker td.active,
.daterangepicker td.active:hover {
  background-color: #357ebd;
  border-color: transparent;
  color: #fff;
}

.daterangepicker th.month {
  width: auto;
}

.daterangepicker td.disabled,
.daterangepicker option.disabled {
  color: #999;
  cursor: not-allowed;
  text-decoration: line-through;
}

.daterangepicker select.monthselect,
.daterangepicker select.yearselect {
  font-size: 12px;
  padding: 1px;
  height: auto;
  margin: 0;
  cursor: default;
}

.daterangepicker select.monthselect {
  margin-right: 2%;
  width: 56%;
}

.daterangepicker select.yearselect {
  width: 40%;
}

.daterangepicker select.hourselect,
.daterangepicker select.minuteselect,
.daterangepicker select.secondselect,
.daterangepicker select.ampmselect {
  width: 50px;
  margin-bottom: 0;
}

.daterangepicker .input-mini {
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #555;
  height: 30px;
  line-height: 30px;
  display: block;
  margin: 0 0 5px 0;
  padding: 0 6px 0 28px;
  width: 100%;
}

.daterangepicker .input-mini.active {
  border: 1px solid rgb(218, 233, 240);
  border-radius: 4px;
}

.daterangepicker .daterangepicker_input {
  position: relative;
}

.daterangepicker .daterangepicker_input i {
  position: absolute;
  left: 8px;
  top: 8px;
}

.daterangepicker.rtl .input-mini {
  padding-right: 28px;
  padding-left: 6px;
}

.daterangepicker.rtl .daterangepicker_input i {
  left: auto;
  right: 8px;
}

.daterangepicker .calendar-time {
  text-align: center;
  margin: 5px auto;
  line-height: 30px;
  position: relative;
  padding-left: 28px;
}

.daterangepicker .calendar-time select.disabled {
  color: #ccc;
  cursor: not-allowed;
}

.ranges {
  font-size: 11px;
  float: none;
  margin: 4px;
  text-align: left;
}

.ranges ul {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

.ranges li {
  font-size: 13px;
  background: #f5f5f5;
  border: 1px solid #f5f5f5;
  border-radius: 4px;
  color: #08c;
  padding: 3px 12px;
  margin-bottom: 8px;
  cursor: pointer;
}

.ranges li:hover {
  background: rgb(218, 233, 240);
  border: 1px solid #08c;
  color: #fff;
}

.ranges li.active {
  background: rgb(218, 233, 240);
  border: 1px solid #08c;
  color: #fff;
}

/*  Larger Screen Styling */

@media (min-width: 564px) {
  .daterangepicker {
    width: auto;
  }
  .daterangepicker .ranges ul {
    width: 160px;
  }
  .daterangepicker.single .ranges ul {
    width: 100%;
  }
  .daterangepicker.single .calendar.left {
    clear: none;
  }
  .daterangepicker.single.ltr .ranges,
  .daterangepicker.single.ltr .calendar {
    float: left;
  }
  .daterangepicker.single.rtl .ranges,
  .daterangepicker.single.rtl .calendar {
    float: right;
  }
  .daterangepicker.ltr {
    direction: ltr;
    text-align: left;
  }
  .daterangepicker.ltr .calendar.left {
    clear: left;
    margin-right: 0;
  }
  .daterangepicker.ltr .calendar.left .calendar-table {
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .daterangepicker.ltr .calendar.right {
    margin-left: 0;
  }
  .daterangepicker.ltr .calendar.right .calendar-table {
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .daterangepicker.ltr .left .daterangepicker_input {
    padding-right: 12px;
  }
  .daterangepicker.ltr .calendar.left .calendar-table {
    padding-right: 12px;
  }
  .daterangepicker.ltr .ranges,
  .daterangepicker.ltr .calendar {
    float: left;
  }
  .daterangepicker.rtl {
    direction: rtl;
    text-align: right;
  }
  .daterangepicker.rtl .calendar.left {
    clear: right;
    margin-left: 0;
  }
  .daterangepicker.rtl .calendar.left .calendar-table {
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .daterangepicker.rtl .calendar.right {
    margin-right: 0;
  }
  .daterangepicker.rtl .calendar.right .calendar-table {
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .daterangepicker.rtl .left .daterangepicker_input {
    padding-left: 12px;
  }
  .daterangepicker.rtl .calendar.left .calendar-table {
    padding-left: 12px;
  }
  .daterangepicker.rtl .ranges,
  .daterangepicker.rtl .calendar {
    text-align: right;
    float: right;
  }
}

@media (min-width: 730px) {
  .daterangepicker .ranges {
    width: auto;
  }
  .daterangepicker.ltr .ranges {
    float: left;
  }
  .daterangepicker.rtl .ranges {
    float: right;
  }
  .daterangepicker .calendar.left {
    clear: none !important;
  }
}

/*End DataRange*/

.w-200 {
  width: 200px;
}
